.Switch {
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 75px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.SwitchOn {
    background: #18cc3f;
}

.SwitchOff {
    background: lightgrey;
}